{% extends 'base.html' %}
{% block content %}

<h1>About the Gemstones</h1>
<hr />
<h4>What are Gemstones?</h4>
<p>Gemstones are minerals, rocks, or organic matters that have been
chosen for their beauty, durability, and rarity and then cut or
faceted and polished to make jewelry or other human adornments. 
Even though most gemstones are hard, some are too soft or fragile to
be used in jewelry, so they are often exhibited in museums and sought
by collectors.</p>

<h5>Gemstones Color</h5>
<p>Gemstones are diverse in their beauty, and many are available in a
stunning variety of shades and colors. Most gemstones have little
beauty in the rough state, they may look like ordinary rocks or
pebbles, but after a skilled cutting and polishing the full color and
luster can be seen. Generally, gemstones with clear, medium-tone,
intense, and saturated primary colors are most preferred.</p>

<h5>Gemstones Clarity</h5>
<p>Gemstones are formed below the Earth's surface and can sometimes show
traces of other minerals, called inclusions. Inclusions can look like
small spots or imperfections within the stone. When viewed through a
microscope or a 10x loupe, they can give information about the geological
environment in which the mineral was formed and its origin.
Inclusions can sometimes identify gemstones and even prove whether the
stone is natural or synthetic. Some gemstones, such as emeralds, are
more likely to have inclusions. Others, such as aquamarine and topaz,
generally have very few inclusions or even none at all.</p>

{% endblock %}